@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  padding: 0;
  height: 100%;
 
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  font-size:  1.9rem !important;
  color: #565387 !important;
}

.navbar a {
  font-size: 1.1rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover {
  color: #3498db !important
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 50px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #3498db;
}

#header h2{ 
  color: #484848;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  /* display: inline-block; */
  padding: 15px 30px;
  border-radius: 40px;
  transition: .5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;

}
#header .btn-get-started:hover {
  color: #fff;
  background-color: #3498db; 
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


.card-width {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .card-width {
    width: 95%;
     }
     #header {   
      margin-top: 60px;
    }
}
@media screen and (max-width: 991px) {
 
  #header .btn-get-started {
    font-size: 14px;    
    padding: 10px 20px; 
  }
  #header h1 {
    font-size: 42px;  
  }
  #header h2 {
    font-size: 20px;
  }  
  .navbar a {
    text-align: center; 
  }
  .menu_active {    
    border-bottom: 2px solid #565387;
    outline: 0;
  }
  #header {   
    margin-top: 80px;
  }
  .img-adjust {
    width: 80%;
  }
  .card-width {
 width: 80%;
  } 
}

@media screen and (max-width: 575px) {
  #header .btn-get-started {
    font-size: 12px;    
    padding: 10px 20px; 
  }
  #header h1 {
    font-size: 36px;  
  }
  #header h2 {
    font-size: 16px;
  }

  ::placeholder {
    font-size: 14px;
  }
  .navbar a {
    text-align: center; 
  }
  .menu_active {    
    border-bottom: 2px solid #565387;
    outline: 0;
  }
  #header {   
    margin-top: 25px;
  }
  .card-width {
 width: 80%;
  } 
}
@media screen and (max-width: 425px){
  .card-width {
    width: 100%;
     }
}


